.eslintrc.json
.github/**
.gitignore
.husky/**
.prettierignore
.vscode-test.mjs
.vscode-test/**
.vscode/**
**/*.ts
**/tsconfig.json
esbuild.config.mjs
example.mp4
marketplace/**
marketplace/** */
node_modules/**
out/**
src/**