name: Release

on: 
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release Type'
        required: true
        default: 'stable'
        type: choice
        options:
          - stable
          - pre-release
      dry_run:
        description: 'Dry Run? (Validate only, no upload)'
        required: false
        default: false
        type: boolean

permissions:
  contents: read

jobs:
  run-release:
    name: Run release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Publish to Open VSX Registry
        if: ${{ inputs.release_type == 'stable' }}
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
          dryRun: ${{ inputs.dry_run }}
          noDependencies: true

      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          preRelease: ${{ inputs.release_type == 'pre-release' }}
          registryUrl: https://marketplace.visualstudio.com
          dryRun: ${{ inputs.dry_run }}
          noDependencies: true

      - name: Upload Extension Artifact
        if: ${{ inputs.dry_run }} 
        uses: actions/upload-artifact@v4
        with:
          name: svn-blamer
          path: "*.vsix"
          retention-days: 5